body,html {
  margin:0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  height:100%;
}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}

#app {
    box-sizing: border-box;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display:flex;
    overflow: hidden;
}

.container{
    box-size:border-box;
    flex:1;
    display:flex;
    flex-direction: row;
}


.activity-tracker{
  background-color: #273657;
  background:linear-gradient(to bottom right, #1a2e4f,rgba(26,46,79,0.9) );
  color:white;
  padding-left:10px;
  flex:2;
  padding:1.5em;
  position:relative;

  transition:width 0.5s ease-in;
  -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;

    .main{
        flex:1;
        display: flex;
        flex-direction: column
    }

    p{
      font-size:1em;
      font-size:1.5vw;
    }

}


.main-page{
    flex:1;
    min-width: 850px;
    overflow-y:auto;
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;
}


.main-page-header{
  background-color: #d55061;
  position: relative;
  img{
    width:100%
  }
}

.blurb{
    position:absolute;
    top:10%;
    left:15%;
    color:white
}

.date{

}

.day{

}

@keyframes fadeInFadeOut{
    0%{ opacity: 0 }
    50%{ opacity: 1}
    100%{ opacity: 0}
}



.what-am-i-doing{
  flex:1;
  display:flex;
  flex-direction: column;
  color:#ccc;
  animation-name: fadeInFadeOut;
  animation-duration: 20s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  margin-bottom:15px;
  margin-top:30px;

    small{
    }

    div{
        font-size: 1.2em;
    }
}

.title{
  font-weight: normal;
  font-size: 8vw;
  padding:0;
  margin:5px 0px;
}

.title[alt='FirstName']{
    margin-bottom:-20px;
    margin-top:20px;
}

.title[alt='LastName']{
    margin-top:-20px;
}

.title:first-child{
    margin-bottom:0;
}

.timeline{
    background-color: white;
    height:5px;
    border-radius:2px;
    position: absolute;
    left:1.5em;
    right:1.5em;
    bottom:2em;
}

.hours{
  position:absolute;
  top:15px;
  font-size:0.6em;
  color:grey;
}

.hours.active{
  color:white;
}


.time-hand{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:2px;
  background-color: #273657;
  transition:top 0.5s linear
}

.clock{
  position:absolute;
  white-space: nowrap;
  padding:5px 10px;
  border-radius:2px;
  border:1px solid white;
  bottom:20px;
  font-size: 2.5vw;
  transition: all 0.2s linear;

}

.clock2{
    white-space: nowrap;
    padding:5px 10px;
    border-radius:2px;
    border:1px solid white;
    font-size: 5vw;
    transition: all 0.2s linear;
    display:none;
}

.pronounce{
    font-size: 20%;
    cursor: pointer;
    color:aqua;
}

@media(max-width:1240px){
    .container{
        flex-direction:column;
        overflow-y:auto;
        display:block;
    }

    .main-page{
        overflow: initial;
            min-width:0;
    }

    .activity-tracker{
        display:block;
        width:100%;
        height:100vh;
        box-sizing: border-box;

        p{
          font-size:1em;
          font-size: 3vw;
        }
    }
    #app{

    }

    .title{
        font-size: 15vw;
    }

    .title[alt='FirstName']{
        margin-bottom:0
    }
    .title[alt='LastName']{
        margin-top:0;
    }

    .clock{
        font-size: 5vw;
    }

    .hours{
      font-size:0.4em;
    }

    .blurb{
        left:5%;
        top:5%;
    }
}

@media(max-width:415px){
  .hours{
    font-size:0.2em;
  }
}

@media(max-height:540px){
    .timeline{
        display:block;

    }

    .clock{
      display:none
    }
    .activity-tracker{
        height: auto !important;
    }

    .clock2{
        display:block;
        text-align: center;
        margin-bottom: 30px;
    }

}



section{
  margin:0;
}
