body,html {
  margin:0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  height:100%;
}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}

#app {
    box-sizing: border-box;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display:flex;
    overflow: hidden;
}

.container{
    box-size:border-box;
    flex:1;
    display:flex;
    flex-direction: row;
}


.activity-tracker{
  background-color: #273657;
  color:white;
  padding-left:10px;
  flex:2;
  padding:1.5em;
  max-width:1480px;
  position:relative;

  transition:width 0.5s ease-in;
  -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;

    .main{
        flex:1;
        display: flex;
        flex-direction: column
    }


}

.main-page{
    flex:1;
    min-width: 800px;
    overflow-y:auto;
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;

}

.main-page-header{
  background-color: #d55061;
  position: relative;
  img{
    width:100%
  }
}

.blurb{
    position:absolute;
    top:10%;
    left:15%;
    color:white
}

.date{

}

.day{

}

.what-am-i-doing{
    flex:1;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeInFadeOut{
    0%{ opacity: 0 }
    50%{ opacity: 1}
    100%{ opacity: 0}
}

.what-am-i-doing{
    animation-name: fadeInFadeOut;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.what-am-i-doing{
    small{
        margin-right:4em;
    }

    div{
        font-size: 2em;
        text-align: center;
    }
}

.title{
  font-weight: normal;
  font-size: 8vw;
  margin:5px 0px;
}

.title:first-of-type{
    margin-bottom:0;
}

.timeline{
    background-color: white;
    height:5px;
    border-radius:2px;
    position: absolute;
    left:1.5em;
    right:1.5em;
    bottom:1.5em;
}


.time-hand{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:2px;
  background-color: #273657;
  transition:top 0.5s linear
}

.clock{
  position:absolute;
  white-space: nowrap;
  padding:5px 10px;
  border-radius:2px;
  border:1px solid white;
  bottom:20px;
  font-size: 5vw;
  transition: all 0.2s linear;

}

.clock2{
    white-space: nowrap;
    padding:5px 10px;
    border-radius:2px;
    border:1px solid white;
    font-size: 5vw;
    transition: all 0.2s linear;
    display:none;
}

.pronounce{
    font-size: 20%;
    cursor: pointer;
}

@media(max-width:1240px){
    .container{
        flex-direction:column;
        overflow-y:auto;
        display:block;
    }

    .main-page{
        overflow: initial;
            min-width:0;
    }

    .activity-tracker{
        display:block;
        width:100%;
        height:100vh;
        box-sizing: border-box;
    }
    #app{

    }

    .title{
        font-size: 15vw;
    }

    .clock{
        font-size: 10vw;
    }

    .blurb{
        left:5%;
        top:5%;
    }
}

@media(max-height:560px){
    .timeline{
        display:none;
    }

    .activity-tracker{
        height: auto !important;
    }

    .clock2{
        display:block;
        text-align: center;
    }
}



section{
  margin:0;
}
