body,html {
  margin:0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  height:100%;
}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}

#app {
    box-sizing: border-box;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display:flex;
    overflow: hidden;
}

.container{
    box-size:border-box;
    flex:1;
    display:flex;
    flex-direction: row;
}


.activity-tracker{
  background-color: #273657;
  color:white;
  padding-left:10px;
  flex:2;
  display:flex;
  flex-direction: column;
  padding:2vh 2vw;
  padding:5px;

  padding-bottom:10px;

  transition:width 0.5s ease-in;
  -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;

    .main{
        flex:1;
        display: flex;
        flex-direction: column
    }


}

.main-page{
    flex:1;
    min-width: 800px;
    overflow-y:auto;
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;

}

.main-page-header{
  background-color: #d55061;
  img{
    width:100%
  }
}

.date{

}

.day{

}

.what-am-i-doing{
    flex:1;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeInFadeOut{
    0%{ opacity: 0 }
    50%{ opacity: 1}
    100%{ opacity: 0}
}

.what-am-i-doing{
    animation-name: fadeInFadeOut;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.what-am-i-doing{
    small{
        margin-right:4em;
    }

    div{
        font-size: 2em;
        text-align: center;
    }
}

.title{
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 5vw;
}

.timeline{
    background-color: white;
    flex:1;
    max-width:7px;
    min-height:450px;
    border-radius:2px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:10%;
    position: relative;
}

.timeline > hr{
    margin:0;
}


.time-hand{
  position:absolute;
  height:2px;
  top:0;
  left:0;
  right:0;
  background-color: black;
  transition:top 0.5s linear
}

.clock{
  position:absolute;
  left:25px;
  white-space: nowrap;
  padding:5px 10px;
  border-radius:2px;
  border:1px solid white;
  bottom:0;
  font-size: 4vw;
  transition: all 0.5s linear
}
@media(min-width){


}

section{
  margin:0;
}
